/* Добавьте стили для округления и стилизации элементов */
/* Замените градиентный фон на мягкий зеленый фон */
body {
    background-color: #3caf57; /* Мягкий зеленый фон */
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.search-results {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 20px;
}

.search-results a {
    color: #007BFF;
    text-decoration: none;
}

.search-results a:hover {
    text-decoration: underline;
}
