<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск по хеттским корням</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Поиск в тексте</h1>
        <form method="POST">
            <input type="text" name="search_query" placeholder="Поиск...">
            <button type="submit">Искать</button>
        </form>
        {% if results %}
            <div class="search-results">
                <h2>Результаты:</h2>
                <h3>Молитвы:</h3>
                <ul>
                    {% for result in results['молитвы'] %}
                    <div class="result">
                        <a href="{{ result.url }}" target="_blank">{{ result.link_text }}</a>
                        <div class="paragraph-html">{{ result.paragraph_html | replace('\n', '') | safe }}</div>
                      </div>
                    {% endfor %}
                </ul>
                <h3>Мифы:</h3>
                <ul>
                    {% for result in results['мифы'] %}
                    <div class="result">
                        <a href="{{ result.url }}" target="_blank">{{ result.link_text }}</a>
                        <div class="paragraph-html" id="{{ result.id }}">
                            {{ result.paragraph_html | safe }}
                          </div>                          
                      </div>
                    {% endfor %}
                </ul>
                <h3>Ритуалы:</h3>
                <ul>
                    {% for result in results['ритуалы'] %}
                    <div class="result">
                        <a href="{{ result.url }}" target="_blank">{{ result.link_text }}</a>
                        <div class="paragraph-html">{{ result.paragraph_html | safe }}</div>
                      </div>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Нет результатов поиска.</p>
        {% endif %}
    </div>
</body>
</html>


